 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }Z
   
  body {
    font-family: Arial, sans-serif;
    background-color: #e1dee4;
    color: #333;
  }
  
  header {
    background-color: #b6b312;
    color: white;
    padding: 10px;
  }
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
   
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    color: #0a37b1;
  }  
  form input, form button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  form button {
    background-color: #941111;
    color: white;
    cursor: pointer;
  }
  form button:hover {
    background-color: #2f9634;
  }
  
  ul {
    list-style-type: none;
  }
  
  ul li {
    background-color: #e3e3e3;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
  }
  
 
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #b43030;
    color: white;
  }
  
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  